/* Box Shadow for Shape */
.shape-box-shadow {
}
/* Box Shadow for Shape */

/* Shape Player */
.shape-goalkeeper-a {
  fill: white !important;
  width: 40px;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
}

.shape-goalkeeper-b {
  fill: white !important;
  width: 40px;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
}

.shape-color-a {
  fill: #00a9ff !important;
  width: 40px;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
}

.shape-color-b {
  fill: #f38b10 !important;
  width: 40px;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
}

.shape-color-arbitrator {
  fill: yellow !important;
  width: 40px;
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .2));
}
/* Shape Player */

/* Shape Shirts Line Up */
.shape-shirt-a {
  fill: #00a9ff !important;
  width: 40px;
}

.shape-shirt-b {
  fill: #f38b10 !important;
  width: 40px;
}

.shape-goalkeeper-shirt-a {
  fill: #ffffff !important;
  width: 40px;
}

.shape-goalkeeper-shirt-b {
  fill: #ffffff !important;
  width: 40px;
}
/* Shape Shirts Line Up */

/* Notifications */
.notification-team-a {
  background-color: #00a9ff;
}

.notification-team-b {
  background-color: #f38b10;
}

.shape-target-notif {
  width: 12px;
  fill: #f38b10 !important;
}
/* Notifications */

/* Club Circle */
.shape-club-a {
  fill: #00a9ff!important;
  width: 8px;
}

.shape-club-b {
  fill: #f38b10 !important;
  width: 8px;
}
/* Club Circle */

/* Stats */
.graph-value-a {
  background-color: #00a9ff;
  right: 0;
}

.graph-value-b {
  background-color: #f38b10;
  left: 0;
}
/* Stats */

/* TimeLine */
.value-team-a {
  background-color: #00a9ff;
}

.value-team-b {
  background-color: #f38b10;
}
/* TimeLine */
