body, html {
  margin: 0px;
  padding: 0px;
  font-family: 'Now-Bold';
  margin-left: 20px;
  margin-top: 20px;
  background-color: #111213;
}

section {
  margin-bottom: 30px;
}

.title-section {
  color: #fff;
}

.show {
  display: block !important;
  -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s;
}

.hide {
  display: none !important;
  visibility: hidden;
}

.fadeOut {
  -webkit-animation: fadeOut 0.5s;
   animation: fadeOut 0.5s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

.yellow {
  background-image: linear-gradient(180deg, #FFC143 0%, #FFAB00 57%) !important;
}

.red {
  background-image: linear-gradient(180deg, #FF2626 0%, #980000 100%) !important;
}

.picto-match-sheet {
  margin-left: 0.5px;
}

.goal {
  display: inline-block;
  height: auto;
  position: relative;
  color: #42B760;
  line-height: 9px;
  font-weight: 600;
}

.goal::before {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 8px;
  width: 8px;
  background-image: url('../assets/icons/icon-goal.svg');
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: right;
}

.card-yellow {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 6px;
  width: 5px;
  background-image: url('../assets/icons/card-yellow.svg');
  position: relative;
}

.card-red {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 6px;
  width: 5px;
  background-image: url('../assets/icons/card-red.svg');
}

.icon-change {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
  height: 8px;
  width: 8px;
  background-image: url('../assets/icons/icon-change.svg');
}

a {
  text-decoration: none;
}

.shape-color-team-a svg {
    fill: red;
}

.picto-match-sheet {}
